# Database Configuration
DATABASE_URL="postgresql://postgres.frlnfgkliajdznglqufh:SaNgIsThEgO@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.frlnfgkliajdznglqufh:SaNgIsThEgO@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=24h

# Direct URL / API Base URL
API_BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

